<footer class="container-fluid text-white d-flex justify-content-around ">
  <div class="inner">
    <h2>Contactanos</h2>
    <form method="post" action="#">
      <div class="fields">
        <div class="field half">
          <input type="text" name="name" id="name" placeholder="Name" />
        </div>
        <br>
        <div class="field half">
          <input type="email" name="email" id="email" placeholder="Email" />
        </div>
        <br>
        <div class="field">
          <textarea name="message" id="message" placeholder="Message"></textarea>
        </div>
      </div>
      <ul class="actions">
        <input type="submit" value="Send" class="primary" />
      </ul>
    </form>
  </div>
  <div class="ms-3 me-3 text-center">
    <h1 class="bg-dark">Entrenamos a los mejores vendedores</h1>
    <h2> Siguenos</h2>
    <ul class="icons d-inline-block">
      <a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a>
      <a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a>
    </ul>
  </div>
  <ul class="copyright">
    <li>&copy; Untitled. All rights reserved</li>
    <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
  </ul>
</footer>
